version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: ./TZ_Infotecs_Winter_2026.Api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnextionString__DefaultConnection=Host=db;Database=InfotecsDB;Username=postgres;Password=postgres
    depends_on:
      - db
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: InfotecsDB
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: 